a {
    text-decoration: none;
    color: black;
    padding: 2vw;
}
.nav{
    width: 100vw;
}
li {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2vh;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}
body{
    margin: 0;
}